---
import '../styles/global.css';
import Layout from '../layouts/Layout.astro';
---

<Layout>
	
	<div class="contain">
		<h1>Lets Identify This Dish!</h1>
        <h2>Choose one of the following:</h2>
		
	
</div>
</Layout>